<%= provide(:title, @user.name) %>

<div class="container">
	<div class="formbox span6 offset3">
		<h3>
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h3><br>
		<p>This is your Account page.</p></br>
		<p>
			Lorem ipsum Esse nisi proident in in cupidatat proident est culpa laborum. Lorem ipsum Aliqua exercitation ad adipisicing deserunt eu sit in non. Lorem ipsum Proident laboris enim ea id consectetur in eiusmod.
		</p><br>
		<p id="linkbutton">
			Go to the <%= link_to "MAIN", "/home" %> page.
		</p>
	</aside>
</div>