<div id="content_main">
<h2>Welcome to AmateurMorpheus</h2>
	<p>
		This is the home page. You can't do anything here.
	</p><br>
	<p>
		Lorem ipsum Esse nisi proident in in cupidatat proident est culpa laborum. Lorem ipsum Aliqua exercitation ad adipisicing deserunt eu sit in non. Lorem ipsum Proident laboris enim ea id consectetur in eiusmod. Lorem ipsum Veniam sunt velit in nisi incididunt eu id minim dolore aliqua commodo officia. Lorem ipsum Dolore pariatur mollit et ullamco et esse velit.
	</p><br>
	</p><br>

	<div id="circuschaser">
		<p>Visit <%= link_to "CircusCHASER.com", "http://circuschaser.com" %> if you're bored with this.</p>
	</div>

</div>

<div id="sidebar">
  <h4>The Sidebar Headline</h4>
  <p>Lorem ipsum Dolor Duis incididunt cillum cillum est ad nulla ex commodo elit Ut. Lorem ipsum Reprehenderit reprehenderit fugiat magna laborum aliqua ut aliqua. Lorem ipsum Pariatur Ut anim aliquip nisi aliqua in ut pariatur qui dolore culpa qui.</p>
</div>
