/* COLORS                                         */

$white: #fff;

/* main GRADIENT */
$redBrown:      #421d02;
$simpleBrown:   #5b2c10;
$deepBrown:     #150d02;

/* topbar gradient */
$lgBrown:       #433832;
$mgBrown:       #332822;
$gBrown:        #2a1f19;


$sidebar:       #1D1610;
$liteBrown:     #B08D71;
$cream:         #ffcda3;

$linkGray:      #959186;
$grayGreen:     #626054;
$grayWrap:      #f2f6f7;
$grayBorder:    #d7dbda;

$tagBlue:       #4b8289;
$tagKhaki:      #c9ba8f;
$tagPine:       #dab171;
$tagOrange:     #e18752;
$tagDarkGreen:  #909962;
$tagLiteGreen:  #cad998;

$peachStar:     #e7b59a;

$redBorder:     #CC0000;


/* HTML MAIN                                       */

html, body {
  /*background-color: $simpleBrown;*/
  background: linear-gradient(to bottom, $redBrown, $simpleBrown 40%, $deepBrown);
  font-family: Lucida Grande, Lucida Sans Unicode, sans-serif;
  font-size: small;
}

.container {
  text-align: left;
  /*border: 1px dashed black;*/
}

/* NAVIGATION MENU                                 */

#navmenu span a, #navmenu span a:visited {
  color: $liteBrown;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
}

#navmenu span a:hover {
  color: $cream;
  text-decoration: none;
}

#navmenu div.dropdown, #navmenu div.dropdown a {
  color: $liteBrown;
  font-size: 10px;
  text-decoration: none;
  font-weight: bold;
  &:hover {
      text-decoration: none;
    }
}

#search_form span {
  color: $white;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}

/* TOP BAR                                         */

#topbar {
  background: linear-gradient(to bottom, $lgBrown, $mgBrown 30%, $gBrown 55%, $mgBrown);
}

#topbar_right {
  color: $liteBrown;
  font-size: 10px;
}

/* FOOTER                                          */

#footer {
  background: $sidebar;
  border-top: 1px solid $liteBrown;
}

#footer_links span {
  color: $liteBrown;
}

#footer_links span a:hover {
  text-decoration: none;
}

#footer_links span a, #footer_links span a:visited {
  color: $liteBrown;
  text-decoration: none;
}

/* SIDEBAR                                         */

#sidebar {
  background-color: $sidebar;
  font-size: 90%;
  /*border: 2px dotted green;*/
}

#sidebar h4 {
  color: $liteBrown;
  font-family: Arial;
  text-align: center;
}

#sidebar p {
  color: $white;
}

/* CONTENT                                         */

#content_main {
  /*border: 2px dotted yellow;*/
}

#content #linkbutton a {
  background: linear-gradient(to bottom, $linkGray, $grayGreen);
  color: $white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  text-align:center;
}

.content_greywrap {
  background-color: $grayWrap;
  /*border: 2px dotted gray;*/
}

.content_head h2 {
  font-family: Georgia, serif;
  font-weight: normal;
}

.content_body {
  background-color: $white;
  border: 1px solid $grayBorder;
}

/* FORMS                                           */

.formbox {
  background-color: $grayWrap;
}

.formbox h3 {
  font-family: Georgia, serif;
  font-weight: normal;
}

.btn-small {
  background: linear-gradient(to bottom, $linkGray, $grayGreen);
  color: $white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

/* SONGS                                           */

.nothing_found {
  background: LightYellow;
}

.content_body #songcount {
  color: $tagBlue;
  font-size: 80%;
  text-align: left;
}

.tag_block {
  background: $grayBorder;
}

.meta {
  color: $simpleBrown;
  font-size: 85%;
}

/* MISCELLANEOUS                                   */

.gravatar {
  border: 1px solid $grayBorder;
}

/* ERROR REPORTING                                 */
#error_explanation {
  color: red;
}

li.error input, li.error textarea, li.error select {
  border: 2px solid $redBorder;
}

/* PAGINATION                                      */

.pagination {
  font-size: 10px;
  /*text-align: center;*/
}

.pagination .disabled {
  color: $white;
}

.pagination .current {
  font-style: normal;
  font-weight: bold;
}

.pagination a {
  border: 1px solid $grayBorder;
  background: $white;
  color: $tagBlue;
  text-decoration: none;
}

.pagination a:hover, .pagination a:focus {
  background: $tagBlue;
  color:$white;
}


