/* SONGS                                           */
.content_body #songcount {
  width: 150px;
  /*padding-top: -12px;*/
  padding-bottom: 4px;
}

.content_left {
  width: 415px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.content_right {
  width: 250px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.tag_block {
  width: 200px;
  border-bottom: 1px solid #fff;
}

.piece {
  td {
    padding-right: 10px;
    border-top: 1px solid #d7dbda;
    }
}

.meta {
  margin-top: -5px;
  margin-bottom: 5px;
}

.nothing_found {
  height: 50px;
  margin: 15px;
  padding-left: 20px;
  padding-top: 12px;
}

.model_search {
  width: 60%;
  margin-right: 10px;
  float: left;
}

.tag_block {
  padding-left: 12px;
}

